.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-top: none;
}
.infoText {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    color: white;
}
.logout {
    margin: 6rem;
    background-color: green;
    border-radius: 10px;
    border: 2px outset;
    font-size: 180%;
    width: 200px;
    height: 80px;
    font-weight: bold;
    &:active {
        border: 3px inset;
    }
}