.container {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    h2 {
        margin: 1rem;
    }
}
.buttonDiv {
    display: flex;
    justify-content: center;
    button {
        margin: 2rem;
        background-color: lightgray;
        border-radius: 10px;
        border: 2px outset;
        font-size: 180%;
        width: 200px;
        height: 80px;
        font-weight: bold;
        &:active {
            border: 3px inset;
        }
    }
}