.container {
    display: flex;
    justify-content: center;
}
.timeTable {
    position: absolute;
    left: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    width: 165px;
    height: 50px;
}
.infoContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}