@use 'styles/variables' as *;

.keypadBox {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    color: black;
    h1 {
        font-size: 45px;
    }
}
.inputContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    input {
        width: 500px;
        height: 45px;
        font-size: 30px;
        border: 2px inset gray;
        background-color: transparent;
        color: black;
    }
    h2 {
        font-size: 35px;
    }
}
.keypad {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    button {
        border-radius: 10px;
        background-color: green;
        border: 2px outset;
        font-size: 200%;
        width: 200px;
        height: 160px;
        font-weight: bold;
        &:active {
            border: 2px inset;
        }
        &:empty {
            visibility: hidden;
        }
    }
}

.keypadKeys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}
.functionKeys {
    display: grid;
    gap: 2rem;
}

@include media(mobile) {
    .keypadBox {
        input {
            width: 50vw;
        }
        h1 {
            font-size: 6vmin;
        }
        button {
            width: 20vw;
            height: 16vw;
            font-size: 4vmin;
        }
    }
    .inputContainer {
        flex-direction: column;
    }
    .keypad {
        gap: 5vmin;
    }
    .keypadKeys {
        gap: 3vmin;
    }
}