.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 96vw;
    height: 93vh;
}
.editContainer {
    display: flex;
    justify-content: space-between;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    button {
        width: 200px;
        height: 75px;
        border: 1px solid gray;
        border-radius: 10px;
        font-size: 30px;
        font-weight: bold;
        &:active {
            background-color: green;
            border: 2px inset gray;
        }
    }
}