.keypad {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}
.keypad button {
    border-radius: 10px;
    border: 2px outset;
    background-color: skyblue;
    font-size: 200%;
    width: 200px;
    height: 160px;
    font-weight: bold;
    &:active {
        border: 2px inset;
    }
    &:empty {
        visibility: hidden;
    }
}

.keypadKeys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}
.functionKeys {
    display: grid;
    gap: 2rem;
}