.container {
    margin: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 70vw;
    color: white;
    h2 {
        grid-column: 1 / 1;
        text-align: end;
        font-size: 40px;
    }
    span {
        grid-column: 2 / 2;
        text-align: center;
        font-size: 40px;
    }
    button {
        grid-column: 3 / 3;
        border-radius: 8px;
        border: 2px outset black;
        background-color: green;
        font-size: 3.5rem;
        line-height: 10px;
        width: 90px;
        height: 90px;
        &:active {
            border: 2px inset lightgray;
        }
    }
    input {
        text-align: center;
        width: 200px;
        height: 60px;
        font-size: 40px;
        background-color: transparent;
    }
}
