.container {
    margin: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 70vw;
    color: white;
    @media (max-width: 768px) {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 50vh;
    }
    h2 {
        white-space: nowrap;
        grid-column: 1 / 1;
        text-align: end;
        font-size: 40px;
        @media (max-width: 768px) {
            font-size: calc(10px + 4vw);
        }
    }
    span {
        margin-left: 8px;
        grid-column: 2 / 2;
        text-align: center;
        font-size: 40px;
        @media (max-width: 768px) {
            font-size: calc(10px + 4vw);
        }
    }
    button {
        grid-column: 3 / 3;
        border-radius: 8px;
        border: 2px outset black;
        background-color: green;
        font-size: 3.5rem;
        line-height: 10px;
        width: 90px;
        height: 90px;
        &:active {
            border: 2px inset lightgray;
        }
        @media (max-width: 768px) {
            width: 15vw;
            height: 7vh;
            font-size: calc(15px + 4vw);
        }
    }
    input {
        text-align: center;
        width: 200px;
        height: 60px;
        font-size: 40px;
        background-color: transparent;
        @media (max-width: 768px) {
            width: 15vw;
            height: 6vh;
            font-size: calc(10px + 4vw);
        }
    }
}
