.container {
    padding: 2rem 0 0 2rem;
    width: 96vw;
    height: 90vh;
    display: flex;
    justify-content: space-between;
}
.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5vh;
    align-items: center;
}
.stretch {
    position: absolute;
    width: 100vw;
    height: 97vh;
    background-color: white;
}