.container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    button {
        color: white;
        border-radius: 8px;
        border: 2px outset black;
        background-color: green;
        font-size: 30px;
        line-height: 10px;
        width: 150px;
        height: 60px;
        &:active {
            border: 3px inset gray;
        }
    }
}