.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 2px solid black;
    justify-content: center;
    align-items: center;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
}