.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 2px solid black;
    justify-content: center;
    align-items: center;
    div {
        line-height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        gap: 0.2rem;
    }
}