.inputContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    input {
        width: 500px;
        height: 45px;
        font-size: 30px;
        border: 2px inset white;
        background-color: transparent;
        color: white;
    }
    h2 {
        font-size: 35px;
    }
}
.keypadBox {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    color: white;
    h1 {
        font-size: 45px;
    }
}