@use 'styles/variables' as *;

.checkContainer {
    display: flex;
    margin-top: 10vh;
    margin-left: 35vw;
    gap: 15px;
    button {
        width: 70px;
        height: 70px;
        background-color: skyblue;
        border: 2px outset;
        border-radius: 10px;
    }
    input {
        position: absolute;
        width: 70px;
        height: 70px;
        opacity: 0;
        &:checked ~ button::after {
            content: 'X';
            font-weight: bolder;
            font-size: 40px;
        }
        &:checked ~ button {
            background-color: orange;
        }
    }
    h2 {
        color: white;
        font-size: 200%;
        font-weight: bold;
        align-self: center;
    }
    @include media(mobile) {
        button {
            width: 50px;
            height: 50px;
        }
        input {
            width: 50px;
            height: 50px;
        }
        h2 {
            font-size: 5vmin;
        }
    }
}

