@use 'styles/variables' as *;

.buttonDiv {
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
    button {
        border-radius: 10px;
        border: 2px outset;
        background-color: skyblue;
        font-size: 180%;
        width: 200px;
        height: 80px;
        font-weight: bold;
        &:active {
            border: 3px inset;
            background-color: green;
        }
    }
    @include media(mobile) {
        gap: 12vw;
        button {
            width: 25vw;
            height: 7vh;
            font-size: 4vw;
        }
    }
}