.buttonDiv {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    button {
        margin: 40px;
        border-radius: 10px;
        border: 2px outset;
        background-color: skyblue;
        font-size: 180%;
        width: 200px;
        height: 80px;
        font-weight: bold;
        &:active {
            border: 3px inset;
            background-color: green;
        }
    }
}