.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 96vw;
    height: 93vh;
}
.list {
    display: flex;
    gap: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    button {
        font-weight: bold;
    }
}
.nav {
    display: flex;
    justify-content: space-between;
    padding-right: 20vw;
    button {
        color: white;
        border: 2px outset lightgray;
        border-radius: 0;
        font-size: 30px;
        width: 125px;
        height: 55px;
        font-weight: 500;
        background-color: green;
        &:active {
            border: 2px inset lightgray;
        }
    }
}
.listTitles {
    display: flex;
    gap: 1rem;
}
.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.noRecords {
    margin: 20vh;
    align-self: center;
}
.route {
    display: flex;
    gap: 1rem;
}