.container {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    button {
        width: 375px;
        height: 115px;
        font-weight: lighter;
        color: white;
        border: 2px outset lightgray;
        font-size: 50px;
    }
}
.load {
    background-color: rgba(0, 128, 0, 0.95);
    &:active {
        border: 3px inset lightgray;
        background-color: rgba(0, 128, 0, 1);
    }
}
.dock {
    background-color: rgba(240, 0, 0, 0.9);
    &:active {
        border: 3px inset lightgray;
        background-color: rgba(230, 0, 0, 1);
    }
}
.write {
    background-color: rgba(128, 0, 128, 0.95);
    &:active {
        border: 3px inset lightgray;
        background-color: rgba(128, 0, 128, 1);
    }
}