@use 'styles/variables' as *;

.container {
    position: relative;
    color: white;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}
.extra {
    font-size: 11px;
    font-weight: 400;
}
@include media(mobile) {
    .clock {
        display: none;
    }
}