.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 1fr;
    justify-content: space-around;
}
.pro {
    display: flex;
    align-self: center;
    font-size: 35px;
    button {
        margin-left: 2rem;
        width: 230px;
        height: 80px;
        border: 1px solid gray;
        font-size: 35px;
        font-weight: bold;
        border-radius: 0;
        &:active {
            border: 2px inset;
        }
    }
}
.header {
    h1 {
        font-size: 45px;
        text-decoration: underline;
    }
    p {
        font-size: 35px;
        font-weight: 500;
    }
}
.info {
    font-size: 25px;
    span {
        font-size: 45px;
        font-weight: 500;
    }
}