@use 'styles/variables' as *;

.container {
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    @include media(mobile) {
        font-size: 5vmin;
        text-align: center;
        gap: 0;
    }
}